body{
    color: white;
    background-color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 10px;
}
a{
    color: white;
    text-decoration: none;
}
header img{
    width: 150px;
    height: 150px;

}
.foto{
    text-align: center;
}
h1{
    color: rgba(0, 255, 242, 0.377);
}
footer img{
    weight: 40px;
    height: 40px;
}